# MongoDB connection string
MONGO_DB_CONNECTION_STRING=   # Your MongoDB URI from your database provider (keep this secret!)

# Google OAuth credentials
GOOGLE_CLIENT_ID=   # From Google Cloud Console > Credentials > OAuth Client ID
GOOGLE_CLIENT_SECRET=   # From Google Cloud Console > Credentials > OAuth Client Secret (keep this secret!)

AUTH_SECRET=   # Used to encrypt JWT and hash tokens